.match-card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

.team {
    display: flex;
    align-items: center;
    text-align: center;
}

.team-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.team-info h3 {
    font-size: 1.2em;
    margin: 0;
}

.team-info p {
    font-size: 0.9em;
    color: #777;
}

.team-info {
    font-size: 1.1em;
    color: #555;
}

.match-info {
    text-align: center;
}

.score {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.match-result {
    font-size: 0.9em;
    font-weight: bold;
    background-color: #ccc;
    padding: 2px 8px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.score {
    font-size: 2em;
    font-weight: bold;
    margin: 5px 0;
}


.home-label {
    font-size: 0.8em;
    color: #777;
}

.match-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: lightgreen;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://media.istockphoto.com/id/1680403652/photo/soccer-stadium-with-a-colorful-ball-in-the-middle.jpg?s=612x612&w=0&k=20&c=ZfonEbuAKTV5rGz88JSCR98TtferaH0PH2cxmCh_Vds=') no-repeat center center / cover;
}

.team-info p {
    margin-top: 10px;
}

.group-stage-matches {
    display: flex;
    width: 90vw;
    flex-wrap: wrap;
    justify-content: space-evenly
}